/* Adicione estilos para o container do formulário */
.container {
  max-width: 700px;
  margin: auto;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Adicione estilos para os campos de formulário */
.form-row {
  margin-bottom: 20px;
}

.label {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 8px;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
}

/* Adicione estilos para o botão de envio */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}
