<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" style="font-size: 25px; padding: 0 16px;">SIMATIVO</a>

    <ul class="navbar-nav d-flex flex-row justify-content-center">
      <li class="nav-item cadastros" (mouseenter)="showSubmenu = true" (mouseleave)="showSubmenu = false">
        <a class="nav-link" href="#" style="font-size: 17px; margin-right: 0; padding: 0 16px ;">Cadastros</a>
        <div *ngIf="showSubmenu" class="submenu">
          <a class="submenu-item" routerLink="/usuarios">Usuários</a>
          <a class="submenu-item" routerLink="/imobilizados">Imobilizados</a>
          <a class="submenu-item" routerLink="/cadastro-nfe">Nfes</a>
          <a class="submenu-item" routerLink="/empresas">Empresas</a>
          <a class="submenu-item" routerLink="/fornecedores">Fornecedores</a>
          <a class="submenu-item" routerLink="/grupos-usuarios">Grupos de Usuários</a>
        </div>
      </li>

      <li class="nav-item consultas" (mouseenter)="showSubmenuConsultas = true" (mouseleave)="showSubmenuConsultas = false">
        <a class="nav-link" href="#" style="font-size: 17px; margin-right: 1000px; margin-left: 2px;">Consultas</a>
        <div *ngIf="showSubmenuConsultas" class="submenu">
          <a class="submenu-item" routerLink="/usuarios">Usuários</a>
          <a class="submenu-item" routerLink="/visualizacao-imobilizado/:id">Imobilizados</a>
          <a class="submenu-item" routerLink="/cadastro-nfe">Nfes</a>
          <a class="submenu-item" routerLink="/empresas">Empresas</a>
          <a class="submenu-item" routerLink="/fornecedores">Fornecedores</a>
          <a class="submenu-item" routerLink="/grupos-usuarios">Grupos de Usuários</a>
        </div>
      </li>
    </ul>

    <div class="fixed-buttons" style="position: absolute; top: 10px; right: 87.50px; z-index: 1000;">
      <button class="btn btn-outline-register" routerLink="/register">Register</button>
    </div>

    <div class="fixed-buttons" style="position: absolute; top: 10px; right: 5px; z-index: 1000;">
      <button class="btn btn-outline-success" routerLink="/login">Login</button>
    </div>

    <div class="user-info" style="position: fixed; top: 40px; right: 10px; z-index: 1000;">
      <span *ngIf="getAuthService().getIsAuthenticated()">
        Logado: {{ getAuthService().getCurrentUser() }}
        <button style="position: absolute; right: 5px; top: 635px;" class="btn btn-outline-danger" (click)="logout()">Sair</button>
      </span>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
