  <div class="container">
    <h3 style="margin-top: -10px; margin-left: 132px; font-family: fantasy;" >Cadastro de Empresa</h3>

    <form style="margin-top: 30px;">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="idEmpresa" class="label">ID Empresa:</label>
          <input type="text" class="form-control" id="idEmpresa" name="idEmpresa" required>
        </div>

        <div class="form-group col-md-6">
          <label for="cnpjCpf" class="label">CNPJ/CPF:</label>
          <input type="text" class="form-control" id="cnpjCpf" name="cnpjCpf" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="razao" class="label">Razão Social:</label>
          <input type="text" class="form-control" id="razao" name="razao" required>
        </div>

        <div class="form-group col-md-6">
          <label for="fantasi" class="label">Nome Fantasia:</label>
          <input type="text" class="form-control" id="fantasi" name="fantasi" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inscri" class="label">Inscrição:</label>
          <input type="text" class="form-control" id="inscri" name="inscri" required>
        </div>

        <div class="form-group col-md-6">
          <label for="cadastr" class="label">Cadastro:</label>
          <input type="text" class="form-control" id="cadastr" name="cadastr" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ruaf" class="label">Rua:</label>
          <input type="text" class="form-control" id="ruaf" name="ruaf" required>
        </div>

        <div class="form-group col-md-6">
          <label for="nrof" class="label">Número:</label>
          <input type="text" class="form-control" id="nrof" name="nrof" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="complementof" class="label">Complemento:</label>
          <input type="text" class="form-control" id="complementof" name="complementof" required>
        </div>

        <div class="form-group col-md-6">
          <label for="bairrof" class="label">Bairro:</label>
          <input type="text" class="form-control" id="bairrof" name="bairrof" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cidadef" class="label">Cidade:</label>
          <input type="text" class="form-control" id="cidadef" name="cidadef" required>
        </div>

        <div class="form-group col-md-6">
          <label for="uff" class="label">UF:</label>
          <input type="text" class="form-control" id="uff" name="uff" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cepf" class="label">CEP:</label>
          <input type="text" class="form-control" id="cepf" name="cepf" required>
        </div>

        <div class="form-group col-md-6">
          <label for="tel1" class="label">Telefone 1:</label>
          <input type="text" class="form-control" id="tel1" name="tel1" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="tel2" class="label">Telefone 2:</label>
          <input type="text" class="form-control" id="tel2" name="tel2" required>
        </div>

        <div class="form-group col-md-6">
          <label for="email" class="label">E-mail:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="obs" class="label">Observações:</label>
          <input type="text" class="form-control" id="obs" name="obs">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 15px;" >Cadastrar</button>
    </form>
  </div>
