<div class="register-container">
  <h4>Cadastro de Usuário</h4>
  <form class="register-form">
    <label for="newUsername">Novo Usuário:</label>
    <input type="text" style="font-style: italic;" id="newUsername" name="newUsername" [(ngModel)]="newUsername" required>

    <label for="newPassword">Nova Senha:</label>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>

    <button class="register-button" type="button" (click)="register()">REGISTRAR</button>
  </form>
</div>
