<div class="container">
    <h3 style="margin-top: -10px; margin-left: 85px; font-family: fantasy;" >Cadastro de Fornecedores</h3>

    <form style="margin-top: 30px;" >
      <div class="form-row">
        <div class="form-group">
          <label for="id_fornecedor" class="label">ID Fornecedor:</label>
          <input type="text" class="form-control" id="id_fornecedor" name="id_fornecedor" [value]="grupoId" [readonly]="true" required>
        </div>

        <div class="form-group">
          <label for="razao" class="label">Razão Social:</label>
          <input type="text" class="form-control" id="razao" name="razao" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="cnpj_cpf" class="label">CNPJ/CPF:</label>
          <input type="text" class="form-control" id="cnpj_cpf" name="cnpj_cpf" required>
        </div>

        <div class="form-group">
          <label for="endereco" class="label">Endereço:</label>
          <input type="text" class="form-control" id="endereco" name="endereco" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="telefone" class="label">Telefone:</label>
          <input type="text" class="form-control" id="telefone" name="telefone" required>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 10px;" >Cadastrar</button>
    </form>
  </div>
